.contact_container{
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-email{
  height: 520px;
  display: flex;
  justify-content: left;
}
form {
  display: flex;
  justify-content:left;
  align-items: center;
  flex-direction: column;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.send-email .user-box{
  position: relative;
  display: inline-block;
}

.send-email .user-box input {
  padding: 10px 0;
  font-size: 16px;
  color: $color-fonts;
  margin-bottom: 30px;
  margin-right: 10px;
  border: none;
  border-bottom: 2px solid $color-fonts;
  outline: none;
  background: transparent;
}
.send-email .user-box label {
  position: absolute;
  top:-20px;
  left: 0;
  padding: 10px 0;
  font-size: 1em;
  color: $color-fonts;
  pointer-events: none;
  transition: .5s;
  text-transform: capitalize;


}

.user-message{
  color: $color-fonts;
  display: flex;
  flex-direction: column;
  height: 180px;
}


.user-message textarea{
  height: 160px;
  width: 300px;
  background: none;
  border: 3px solid $color-fonts;
  color: $color-fonts;
  font-size: 1.5em;
}

.message-button{
  margin-top: 10px;
  background: none;
  color: $color-fonts;
  font-size: 1.5em;
  border-radius: 30px;
  border: 4px solid $color-fonts;
  padding: 5px 30px;
}


.address{
  width: 500px;
  padding-right: 200px;
}

.address_text{
  color: $color-fonts;
  font-size: 1.5em;

}
