
.header__container {
  height: 70px;
  background: black;
  width: 1220px;
  margin-top: 20px;
  box-shadow: 0 0 1em black;
  border-radius: 20px;
  .container {
    .text__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      .logo__container {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}
.logo__text{
 font-family: 'Lobster', cursive;
  font-size: 2.4em;
  text-decoration: none;
  color: #008080;

}
.nav__list {
  display: flex;
  gap: 0.5rem;
}
.list__element {
  display: block;
  font-family: Arial, serif;
  font-weight: 700;
  font-size: 13px;
  color: #008080;
  padding: 18px 18px 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo {
  display: flex;
  color: #008080;
  text-decoration: none;
}

.nav__list * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav__list li {
  display: inline-block;
  list-style: outside none none;
  margin: 15px 1em;
  padding: 0;
}
.nav__list a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #008080;
  position: relative;
  text-decoration: none;
}
.nav__list a:before,
.nav__list a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.nav__list a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #008080;
  border-top: 3px solid #008080;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.nav__list a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #008080;
  border-bottom: 3px solid #008080;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.nav__list a:hover,
.nav__list .current a {
  color: #ffffff;
}
.nav__list a:hover:before,
.nav__list a:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}