.price__box__container{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
}
.price__box{
  height: 450px;
  background-color: #008080;
  text-align: center;
  margin-top: 40px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.box__tittle{
  padding: 40px;
  color: white;
  font-size: 3em;

}

.box__text{
  color: white;
  font-size: 2em;
}