.price__box__container{
  display: flex;
  justify-content:space-between;
}
.price__box{
  height: 450px;
  background-color: $color-primary;
  text-align: center;
  margin-top: 20px;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.box__tittle{
  padding: 30px;
  color: $color-fonts;
  font-size: 3em;

}

.box__text{
  color: $color-fonts;
  font-size: 2em;
}